.Home-content {
  width: 100%;
  background-color: #ffffff;
}
.Home-content-container {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}
.Home-content-header {
  font-size: 4.125rem;
  font-family: "Yantramanav", sans-serif;
  text-transform: uppercase;
  margin: 0.5em 0 0.3em 0;
}

.Home-content-header span {
  font-family: "Pinyon Script", cursive;
  text-transform: lowercase;
  font-size: 8.25rem;
  font-weight: 100;
  margin-left: 0.2em;
  white-space: nowrap;
}

.Home-content-body {
  font-size: 1.35rem;
  line-height: 2.2em;
  margin-top: 2em;
  text-align: justify;
  padding-bottom: 5em;
}

.Home-content-body-sec {
  font-size: 1.225rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4em;
}
@media (max-width: 1195px) {
  .Home-content-container {
    margin: 0 2em;
  }
}

@media (max-width: 774px) {
  .Home-content-header span {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .Home-content-header {
    font-size: 3.125rem;
  }

  .Home-content-header span {
    font-size: 5.5rem;
    margin-left: 0.2em;
  }

  .Home-content-body {
    padding-bottom: 3em;
  }
}
