.NationalHistory-content-container {
  text-align: center;
  max-width: 1220px;
  margin: 0 auto;
}

.our-history-header,
.founding-mothers-header,
.quick-facts-header {
  text-transform: uppercase;
  font-size: 4.125rem;
}

.our-history-body-main,
.founding-mothers-body-main {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 2.3em;
  margin-top: 0;
}

.founding-mother-img {
  width: 400px;
}

.quick-facts-list-item {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 70px;
  list-style: none;
  margin: 2em 0;
  padding: 2em 0 2em 4em;
  text-align: left;
}
