.SisterGallery {
  padding: 5.5em 0;
}

.SisterGallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  max-width: 1100px;
  margin: 0 auto;
  grid-row-gap: 3em;
}

.hide-gallery {
  display: none;
}
.SisterGallery-card {
  text-align: center;
  cursor: pointer;
}

.SisterGallery-img {
  height: 300px;
  width: 240;
}

.SisterGallery-name {
  text-transform: uppercase;
  margin: 0.2em 0;
  text-align: center;
}

@media (max-width: 1195px) {
  .SisterGallery-container {
    margin: 0 1em;
  }
}
