.SisterGallery {
  padding: 2em 0;
}

.SisterGallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  max-width: 900px;
  margin: 0 auto;
  grid-row-gap: 2em;
}

.hide-gallery {
  display: none;
}
.SisterGallery-card {
  text-align: center;
  padding: 1em;
}

.SisterGallery-card:hover {
  opacity: 0.5;
  cursor: pointer;
}

.SisterGallery-img {
  height: 300px;
  width: 240px;
  object-fit: cover;
  object-position: top;
}

.SisterGallery-name {
  text-transform: uppercase;
  margin: 0.2em 0;
  text-align: center;
}

@media (max-width: 1195px) {
  .SisterGallery-container {
    margin: 0 7em;
    max-width: none;
  }
}

@media (max-width: 970px) {
  .SisterGallery-container {
    margin: 0;
    max-width: none;
  }
}
